<div class="gog_home_game_content">
    <img src="..//..//assets/bg.png">
    <div class="gog_cards_wrapper">
        <div class="gog_cards" *ngFor="let data of sampleData">
            <img src="..//..//assets/{{data.imgUrl}}">
            <div class="gog_cards_details">
                <p>
                    {{data.name}}
                </p>
                <!-- //currency pipe -->
                <div>
                    <span
                        (click)="addItems(data)">{{data.status === 'IN CART'? data.status:(data.price | currency)}}</span>
                    <span>-{{data.discount}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>