<div class="items_cart_dialog_parent">
    <div class="itmes_cart">
        <div>
            <span>{{sampleData.length}} {{sampleData.length > 1 ? 'Items' : 'Item'}} in cart</span>
        </div>
        <div>
            <span></span>
        </div>
        <div>
            <button  mat-button (click)="clearCart()" class="rounded_Rectangle_7">CLEAR CART</button>
        </div>
    </div>
    <div *ngIf="sampleData.length > 0">
        <div class="gog_cart_items_holder" *ngFor="let data of sampleData">
            <img src="..//..//assets/{{data.imgUrl}}">
            <div>
                <p>{{data.name}}</p>
                <span (click)="removeData(data)">Remove</span>
            </div>
            <div>
                <span>{{data.price | currency}}</span>
            </div>
        </div>
    </div>
</div>